################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/APP.Member.Entity/obj/Debug
/APP.Member.Handler/obj/Debug
/packages
/APP.MemberWeb/obj/Debug
/APP.MemberWeb/bin
/App.Api/obj/Debug
/App.Api/bin
